* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(90deg, #5a5f63, #0f3d4c);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo-app {
  background: #ffffff;
  background-color: rgba(255,255,255,0.12);
  border: 2px solid rgba(255,255,255,0.2);
  width: 400px;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.todo-app h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 800;
  text-decoration: underline;
}

/* Progress */
.progress-section {
  margin-bottom: 25px;
}

.progress-text {
  font-size: 14px;
  color: #060606;
  margin-bottom: 6px;
  font-weight: 500;
  display: block;
  
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #e0e0e0;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.2);
}

.progress-fill {
  height: 100%;
  background: linear-gradient(to right, #667eea, #764ba2);
  width: 40%
}

/* Input */
.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.task-input button {
  background: #667eea;
  color: white;
  border: 2px solid rgba(255,255,255,0.2);
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 800;
}

/* Task List */
.task-list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f2f2;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.task label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.task-text {
  font-size: 16px;
}

.task input[type="checkbox"] {
  accent-color: #667eea;
}

/* Actions */
.task-actions {
  display: flex;
  gap: 8px;
}

.edit {
  background: transparent;
  border: none;
  color: #667eea;
  cursor: pointer;
  font-size: 14px;
}

.edit:hover {
  text-decoration: underline;
}

.delete {
  background: transparent;
  border: none;
  color: #e74c3c;
  cursor: pointer;
  font-size: 14px;
}

.delete:hover {
  text-decoration: underline;
}
